doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    p Le débobardeur est un projet open-source, accessible sur 
      a(href="https://github.com/saintsaens/debobardeur" target="_blank") GitHub.
