:root { 
  --color-background: hsl(20deg, 10%, 15%);
  --color-background-light: hsl(20deg, 10%, 20%);
  --color-background-lighter: hsl(20deg, 10%, 40%);
  --color-content: hsl(0deg, 0%, 100%);
  --color-content-soft: hsla(0deg, 0%, 100%, 50%);
 }

body {
  padding: 2rem;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.8;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-content);
}

button, input, textarea {
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color-content);
}

textarea {
  line-height: 1.8;
}

a {
  color: var(--color-background-lighter);
}

.preview, .input {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--color-background-light);
}

.input {
  border: 2px solid var(--color-background-lighter);
}

.input:focus {
  outline: none;
}

.preview {
  white-space: pre-line;
}

.button-4 {
  background-color: hsl(20deg, 10%, 20%);
  border: 2px solid hsl(20deg, 10%, 40%);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
}

.button-4:hover {
  background-color: hsl(20deg, 10%, 25%);
}