{% extends "layout.html" %}
{% block body %}
    <h1>Débobardeur</h1>
    <form method="POST">
        <textarea
            rows="13"
            cols="80"
            id="text_with_bobards"
            name="text_with_bobards"
            autofocus
        ></textarea>
        <br>
        <br>
        <input type="submit" value="Débobardiser (⌘+↵)" id="submit_button">
    </form>
<script>
    const textarea = document.querySelector("#text_with_bobards");

    textarea.addEventListener('keydown', (event) => {
        if ((event.metaKey || event.ctrlKey) && event.key === 'Enter') {
            event.preventDefault();
            document.querySelector("#submit_button").click();
        }
    })
</script>
    <br>
{% endblock %}
